<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751228707184-56dehm4vujqofj14fb29hn19380vej2q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751228707184-56dehm4vujqofj14fb29hn19380vej2q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>751228707184-8ppkhsqoq2olhlfmui5bn6sv5qonmml6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBtUJP7yEkjupAR9_IqdI-hbD1xQAoIjMg</string>
	<key>GCM_SENDER_ID</key>
	<string>751228707184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.logix.parkinbuddy</string>
	<key>PROJECT_ID</key>
	<string>parkingbuddy-4c8fa</string>
	<key>STORAGE_BUCKET</key>
	<string>parkingbuddy-4c8fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751228707184:ios:f7f85fee2fc26c7e65afb5</string>
</dict>
</plist>